/*
 *
 * Copyright (c) 2021 Beijing Xiaomi Mobile Software Co., Ltd. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/dts-v1/;
/* Based on tegra194-p3668-all-p3509-0000.dts */

#include "common/tegra194-p3668-common.dtsi"
#include "common/tegra194-p3509-0000-a00.dtsi"
#include "tegra194-mi-k91-camera.dtsi"
#include "tegra194-mi-k91-audio.dtsi"

/*+++root node start+++*/
/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,dtbbuildtime = __DATE__, __TIME__;

	compatible = "nvidia,p3449-0000+p3668-0000", "nvidia,p3449-0000+p3668-0001", "nvidia,p3509-0000+p3668-0000", "nvidia,p3509-0000+p3668-0001", "nvidia,tegra194";

	pcie@141a0000 {
		nvidia,disable-aspm-states = <0x0>;
		/delete-property/ nvidia,disable-clock-request;
		nvidia,dvfs-tbl = < 204000000 204000000 204000000 204000000
		 204000000 204000000 204000000 204000000
		 204000000 204000000 204000000 204000000
		 204000000 204000000 204000000 204000000 >;
	};

	fixed-regulators {
		vdd_3v3_gps_bt: reulator@21 {
			compatible = "regulator-fixed";
			reg = <21>;
			regulator-name = "vdd-3v3-gps-bt";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio_expand2 16 GPIO_ACTIVE_LOW>;
			enable-active-high;
		};

		vdd_3v3_wlan_bt: reulator@35 {
			compatible = "regulator-fixed";
			reg = <35>;
			regulator-name = "vdd-3v3-wlan-bt";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio_expand2 21 GPIO_ACTIVE_LOW>;
			startup-delay-us = <20000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
		};
		
		vdd_1v8_wlan_en: reulator@36 {
			compatible = "regulator-fixed";
			reg = <36>;
			regulator-name = "vdd-1v8-wlan-en";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio_expand1 11  GPIO_ACTIVE_LOW>;
			startup-delay-us = <20000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
		};
		
		vdd_1v8_bt_en: reulator@37 {
			compatible = "regulator-fixed";
			reg = <37>;
			regulator-name = "vdd-1v8-bt-en";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio_expand1 8 GPIO_ACTIVE_LOW>;
			startup-delay-us = <20000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
		};

		rear_mcu_sensor: reulator@25 {
			compatible = "regulator-fixed";
			reg = <25>;
			regulator-always-on;
			regulator-name = "rear-mcu-sensor";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio_expand2 22 GPIO_ACTIVE_LOW>;
			enable-active-high;
			regulator-boot-on;
		};
		head_mcu_sensor: reulator@26 {
			compatible = "regulator-fixed";
			reg = <26>;
			regulator-always-on;
			regulator-name = "head-mcu-sensor";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio_expand2 17 GPIO_ACTIVE_LOW>;
			enable-active-high;
			regulator-boot-on;
		};

		bot_mcu_sensor: reulator@29 {
			compatible = "regulator-fixed";
			reg = <29>;
			regulator-always-on;
			regulator-name = "bot-mcu-sensor";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio_expand1 14 GPIO_ACTIVE_LOW>;
			enable-active-high;
			regulator-boot-on;
		};

		vdd_1v8_gps: reulator@22 {
			compatible = "regulator-fixed";
			reg = <22>;
			regulator-name = "vdd-1v8-gps";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio_expand2 20 GPIO_ACTIVE_LOW>;
			enable-active-high;
		};

		vbus_realsns_5v: reulator@28 {
			compatible = "regulator-fixed";
			reg = <28>;
			regulator-always-on;
			regulator-name = "vbus_realsns-5v";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio_expand1 17 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-boot-on;
		};

		pwm_fan_1v8: regulator@30 {
			compatible = "regulator-fixed";
			reg = <30>;
			regulator-always-on;
			regulator-name = "vdd-1v8-fan";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio_expand2 3 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-boot-on;
		};

		avdd_cam1_2v8: regulator@41 {
			compatible = "regulator-fixed";
			reg= <41>;
			regulator-name = "avdd-cam1-2v8";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
			gpio = <&gpio_expand1 0 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		avdd_cam2_2v8: regulator@42 {
			compatible = "regulator-fixed";
			reg= <42>;
			regulator-name = "avdd-cam2-2v8";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
			gpio = <&gpio_expand1 1 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		avdd_cam3_2v8: regulator@43 {
			compatible = "regulator-fixed";
			reg= <43>;
			regulator-name = "avdd-cam3-2v8";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
			gpio = <&gpio_expand1 2 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		iovdd_cam_1v8: regulator@44{
			compatible = "regulator-fixed";
			reg= <44>;
			regulator-name = "iovdd-cam-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio_expand1 3 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};

	pwm-fan {
		pwms = <&tegra_pwm6 0 45334>;
		profiles {
			default = "quiet";
				quiet {
					state_cap = <4>;
					active_pwm = <0 80 160 200 255 255 255 255 255 255>;
				};
				cool {
					state_cap = <4>;
					active_pwm = <0 130 170 200 255 255 255 255 255 255>;
				};
			};
	};

	pwm_fan_cpu_shared_data: pfsd_cpu {
		num_resources = <0>;
		secret = <47>;
		active_steps = <10>;
		active_rpm = <0 1000 2000 3000 4000 5000 6000 7000 10000 11000>;
		rpm_diff_tolerance = <2>;
		active_rru = <40 2 1 1 1 1 1 1 1 1>;
		active_rrd = <40 2 1 1 1 1 1 1 1 1>;
		state_cap_lookup = <2 2 2 2 3 3 3 4 4 4>;
		pwm_period = <45334>;
		pwm_id = <8>;
		pwm_polarity = <PWM_POLARITY_INVERTED>;
		suspend_state = <1>;
		step_time = <100>; /* mesecs */
		state_cap = <7>;
		active_pwm_max = <256>;
		tach_period = <1000>;
		pwm_gpio = <&tegra_main_gpio TEGRA194_MAIN_GPIO(R, 0) GPIO_ACTIVE_LOW>;
	};

	pwm_fan_cpu: pwm-fan-cpu {
		compatible = "pwm-fan";
		status = "okay";
		#pwm-cells = <1>;
		pwms = <&tegra_pwm8 0 45334>;
		shared_data = <&pwm_fan_cpu_shared_data>;
		suspend_state = <0>;
		profiles {
			default = "quiet";
			quiet {
				state_cap = <4>;
				active_pwm = <0 77 120 160 255 255 255 255 255 255>;
			};
			cool {
				state_cap = <4>;
				active_pwm = <0 77 120 160 255 255 255 255 255 255>;
			};
		};
	};

	bcm4775 {
		compatible = "bcm4775";
		vdd-supply = <&vdd_1v8_gps>;
                vddgps-supply = <&vdd_3v3_gps_bt>;
		//gps-1v8-gpio = <&gpio_expand2 20 GPIO_ACTIVE_LOW>;
		//gps-bt-3v3-gpio = <&gpio_expand2 21 GPIO_ACTIVE_LOW>;
		nstandby-gpio = <&gpio_expand2 10 GPIO_ACTIVE_LOW>;
		//bt-en-gpio = <&gpio_expand1 8 GPIO_ACTIVE_LOW>;
		//wlan-en-gpio = <&gpio_expand1 11 GPIO_ACTIVE_LOW>;
	};

	bcmdhd_wlan {
		compatible = "bcmdhd_wlan";
		vddwlan-supply = <&vdd_3v3_wlan_bt>;
		//bt-en-gpio = <&gpio_expand1 8 GPIO_ACTIVE_LOW>;
		//wlan-en-gpio = <&gpio_expand1 11 GPIO_ACTIVE_LOW>;
	};

	leds {
		flash {
			gpios = <&gpio_expand2 14 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		torch {
			gpios = <&gpio_expand2 15 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};
};
/*+++root node end+++*/


&dp_aux_ch3_i2c {
	status = "okay";
       synaptics_dsx@20 {
               compatible = "synaptics,dsx-i2c";
               reg = <0x20>;
               status = "okay";
               interrupt-parent = <&tegra_main_gpio>;
               interrupts = <TEGRA194_MAIN_GPIO(Q, 3)  0x2002>;
               synaptics,ub-i2c-addr = <0x2c>;
               synaptics,irq-gpio = <&tegra_main_gpio TEGRA194_MAIN_GPIO(Q, 3) 0x2008>; // IRQF_ONESHOT|IRQF_TRIGGER_LOW
               synaptics,reset-gpio = <&gpio_expand2 7 0x00>;
               synaptics,irq-on-state = <0>;
               synaptics,power-delay-ms = <200>;
               synaptics,reset-delay-ms = <200>;
               synaptics,reset-on-state = <0>;
               synaptics,reset-active-ms = <20>;
               // uncomment and update line below as appropriate if there are 0D buttons
               synaptics,cap-button-codes = <102 158>;// use in debug, should be comment in final release!!!!
               // uncomment and update lines below as appropriate if there are virtual buttons
               // synaptics,vir-button-codes = <102 100 900 100 60 158 300 900 100 60>;
               // synaptics,max-y-for-2d = <800>;
       };
};

&gen1_i2c {
	status = "okay";

	gpio_expand2: tca6424@22 {
		compatible = "ti,tca6424";
		reg = <0x22>;
		reset-gpio = <&tegra_aon_gpio TEGRA194_AON_GPIO(CC, 3) GPIO_ACTIVE_HIGH>;
		gpio-controller;
		#gpio-cells = <2>;
		status = "okay";
		interrupt-parent = <&tegra_aon_gpio>;
		interrupts = <TEGRA194_AON_GPIO(CC, 4) IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;
		gpio-line-names =
			"PROG_UTRA_F",   "Null",          "RSTN_UTRA_F",          "PROG_UTRA_R",
			"RSTN_HUB",      "RSTN_UTRA_R",   "INT_TP",               "RST_TP",
			"LED_DRIVER_EN", "Null",          "GNSS_EN",              "H_HOST_REQ",
			"MCU_RDY_GPS",   "MCU_REQ_GPS",   "ENF_FLASHLED",         "ENM_FLASHLED",
			"INT1_Gyro",     "INT1_ACC",      "CODEC_PA_DVDD_1V8_EN", "CODEC_AVDD_1V8_EN",
			"GPS_1V8_EN",    "GPS_BT_3V3_EN", "SENSOR_3V3_EN",        "SENSOR_1V8_EN";
		init-gpios {
			gpio-hog;
			output-high;
			gpios = <0 0
				1 0
				2 0
				3 0
				4 0
				5 0
				6 0
				7 0
				8 0
				9 0
				10 0
				11 0
				12 0
				13 0
				14 0
				15 0
				16 0
				17 0
				18 0
				19 0
				20 0
				21 0
				22 0
				23 0>;
			status = "disabled";
		};
	};

	gpio_expand1: tca6424@23 {
			compatible = "ti,tca6424";
			reg = <0x23>;
			reset-gpio = <&tegra_aon_gpio TEGRA194_AON_GPIO(CC, 3) GPIO_ACTIVE_HIGH>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-parent = <&tegra_main_gpio>;
			interrupts = <TEGRA194_MAIN_GPIO(Q, 1) IRQ_TYPE_LEVEL_LOW>;
			interrupt-controller;
			#interrupt-cells = <2>;
			status = "okay";
			gpio-line-names =
				"Null",           "CAM_AVDD_EN",       "CAM_DVDD_EN",       "CAM_IOVDD_EN",
				"SEL1_MODE",      "RESET_CODEC",       "LDO1_EN_CODEC",     "PWDN_PA",
				"BT_EN",          "HOST_WAKE_BT",      "BT_WAKE_HOST",      "WLAN_EN",
				"WLAN_WAKE_HOST", "GUANGLIUJI_2V8_EN", "GUANGLIUJI_1V5_EN", "INT_TUSB322",
				"VBUS_MOTION_EN", "VBUS_REALSNS_EN",   "Null",              "STROBE_CAM3",
				"XSHUTDOWN_3",    "TOF_EN",            "STROBE_CAM2",       "TOF_GPIO1";
			init-gpios {
							gpio-hog;
							output-high;
							gpios = <0 0
					1 0
					2 0
					3 0
					4 0
					5 0
					6 0
					7 0
					8 0
					9 0
					10 0
					12 0
					13 0
					14 0
					15 0
					16 0
					17 0
					18 0
					19 0
					20 0
					21 0
					22 0
					23 0>;
							status = "disabled";
			};
			wifi-bt-en {
				gpio-hog;
				output-low;
				gpios = <11 0
					8 0>;
				status = "okay";
			};
			bt-wake {
				gpio-hog;
				output-low;
				gpios = <10 0>;
				status = "okay";
			};
			wifi-wake {
				gpio-hog;
				input;
				gpios = <12 0>;
				status = "disabled";
			};
		};

};

&pwm_fan_shared_data {
	tach_gpio = <&tegra_main_gpio TEGRA194_MAIN_GPIO(Q, 2) GPIO_ACTIVE_LOW>;
	pwm_gpio = <&tegra_main_gpio TEGRA194_MAIN_GPIO(H, 1) GPIO_ACTIVE_LOW>;
	pwm_polarity = <PWM_POLARITY_INVERTED>;
	pwm_id = <6>;
	suspend_state = <1>;
};

&xusb_padctl {
	pads {
		usb2 {
			lanes {
				usb2-0 {
					nvidia,hs_curr_level_offset = <12>;
				};
			};
		};
	};
};
